name: CI - Build & Push Unificado (DEV/MAIN)

on:
  push:
    branches: [ dev, main ]
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: upebr/consultas
  JAVA_VERSION: '21'

jobs:
  build_and_push:
    name: Build & Push [${{ github.ref_name }}]
    runs-on: ubuntu-latest

    # Environment dinâmico suportado!
    environment:
      name: ${{ github.ref_name == 'main' && 'prd' || 'dev' }}

    steps:

      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Definir Tag
        id: set_vars
        run: |
          SHA_SHORT="${GITHUB_SHA::7}"
          IS_MAIN="${GITHUB_REF_NAME}"

          if [ "$IS_MAIN" = "main" ]; then
            TAG="$SHA_SHORT"
          else
            TAG="$SHA_SHORT-dev"
          fi

          echo "DOCKER_FULL_TAG=$TAG" >> $GITHUB_OUTPUT

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build e Empacotamento com Maven
        run: mvn clean package -DskipTests

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir e Enviar a Imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE_NAME }}:${{ steps.set_vars.outputs.DOCKER_FULL_TAG }}

      - name: Imagem Publicada
        run: echo "A imagem foi publicada como: ${{ env.DOCKER_IMAGE_NAME }}:${{ steps.set_vars.outputs.DOCKER_FULL_TAG }}"
