name: CI - Build & Push Unificado (DEV/MAIN)

on:
  push:
    branches:
      - dev
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: upebr/consultas 
  JAVA_VERSION: '21'
  
jobs:

  build_and_push:
    name: Build & Push [${{ github.ref_name }}]
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'main' && 'prd' || 'dev' }}
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Define Tag e Variáveis
        id: set_vars
        run: |
          # Pega os primeiros 7 caracteres do SHA do commit
          SHA_SHORT=$(echo ${{ github.sha }} | cut -c1-7)
          BRANCH_NAME=${{ github.ref_name }}

          # Define a tag final
          if [ "$BRANCH_NAME" == "main" ]; then
            # Tag para Produção: apenas o SHA (Ex: upebr/consultas:a1b2c3d)
            TAG="$SHA_SHORT"
          else
            # Tag para Desenvolvimento: SHA com sufixo (Ex: upebr/consultas:a1b2c3d-dev)
            TAG="$SHA_SHORT-dev"
          fi
          
          # Exporta variáveis
          echo "DOCKER_FULL_TAG=$TAG" >> $GITHUB_OUTPUT
          echo "TAG_FOR_DEPLOYMENT=$TAG" >> $GITHUB_ENV
        
      - name: Configurar Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build e Empacotamento com Maven
        run: mvn clean package -DskipTests 
      
      #todo: criar os secrets DOCKER_USERNAME e DOCKER_PASSWORD no repositório
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir e Enviar a Imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Usa a tag dinâmica definida no passo anterior
          tags: ${{ env.DOCKER_IMAGE_NAME }}:${{ env.TAG_FOR_DEPLOYMENT }}
          
      - name: Imagem Publicada
        run: echo "A imagem foi publicada como: ${{ env.DOCKER_IMAGE_NAME }}:${{ env.TAG_FOR_DEPLOYMENT }}"